:root{
    --bs-primary:#EF6115;
    --bs-secondary: #649420;
    --bs-purple: #D477DF;
    --bs-light: #EECFBC;
    --bs-dark:#111111;
    --bs-font-sans-serif: "Inknut Antiqua", serif;
    --bs-font-monospace: "Source Code Pro", sans-serif;
}

h1{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    text-decoration-color: var(--bs-primary);

}

h2{
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    color: var(--bs-secondary);

}

h3{
    font-family: "Source Code Pro", sans-serif;
    font-weight: 600;
    color: var(--bs-purple);
}

p{
    font-family: "Source Code Pro", sans-serif;
    font-weight: 600;
    text-decoration-color: var(--bs-dark);
}


/* Styles skip links */
.skip-links a {
    background-color: white;
    color:black;
    padding: .5em 1em;
  }
  
/* Styles Back to top button */
 
.backtop {
    background-color: var(--bs-primary);
    color: var(--bs-dark);
    font-weight: 600;
    padding: 0.5em;
    
}

.backtop:hover,
.backtop:focus,
.backtop:active {
    background-color: var(--bs-purple);
    color: var(--bs-dark);
    font-weight: 600;
    
}

/* STYLING NAV LINKS: Link, Hover, Visited, Active */

.navbar-nav .nav-link{
    background-color: var(--bs-primary);
    color: var(--bs-dark);
    font-weight: 600;
    
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    background-color: var(--bs-purple);
    color: var(--bs-dark);
    font-weight: 600;
}

/* STYLING HOME BANNER: Link, Hover, Visited, Active */

.homebanner a{
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
    font-weight: 700;
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    
}

.homebanner a:hover,
.homebanner a:focus,
.homebanner a:active {
    background-color: var(--bs-purple);
    color: var(--bs-dark);
    font-weight: 700;
    font-family: var(--bs-font-monospace);
    font-size: 1em;
}



 /* STYLING HOME BANNER TEXT */
 .lauraclow {
    color: #EF6115;

 }

 /* STYLING ABOUT ME TEXT */
 .IAM {
    color: #EF6115;
    font-weight: 600;
 }

 /* STYLING SUBMIT BUTTON */
 .submit{
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
    font-weight: 700;
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    
}

.submit:hover,
.submit:focus,
.submit:active {
    background-color: var(--bs-purple);
    color: var(--bs-dark);
    font-weight: 700;
    font-family: var(--bs-font-monospace);
    font-size: 1em;
}

/* STYLING FORM */
form label{
    font-family: "Source Code Pro", sans-serif;
    font-weight: 700;
    color: var(--bs-purple);
    font-size: 1.5em;
}

form input,
textarea{
    font-family: "Source Code Pro", sans-serif;
    font-weight: 600;
    color: var(--bs-dark);
    font-size: 1.5em;
}

/* Styles testimonial link */

#testimonials a{
    font-weight: 700;
    color: var(--bs-primary);
}

#testimonials a:hover,
#testimonials a:focus,
#testimonials a:active,
#testimonials a:visited{
    font-weight: 700;
    color: var(--bs-purple);
}

/* Styles footer links */

.link-secondary a{
    font-weight: 700;
    color: var(--bs-primary);
}
.link-secondary a:hover,
.link-secondary a:focus,
.link-secondary a:active,
.link-secondary a:visited,{
    font-weight: 700;
    color: var(--bs-purple);
}

footer h1{
    color: var(--bs-primary);
}
footer p{
    font-weight: 700;
    color: var(--bs-primary);
}

